
#tekstii{
font-size: 15px;
font-family:sans-serif;}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           
}
#teksti2{
    color: black;
}
#cappari1{
	font-weight:bold;
font-size:25px;
color:yellow;
text-shadow: 2px 2px 4px #000000;}
#cappari2{	font-weight:bold;
font-size:25px;
color:yellow;
text-shadow: 2px 2px 4px #000000;}
#trophy1{
background-color:white;}
#trophy2{
background-color:white;}
#trophy3{
	background-color:white;}
#trophy4{background-color:white;}
#out {font-size:15px;}
#OB {font-size:15px;}
#brands {  text-shadow: 2px 2px 5px red;
}
#terms {  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#rules1 {background-color:lightgray;}
#reg {
  color: beige;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sign:link {
  color: orange;
}

#sign:visited {
  color:blue;
}


#sign:hover {
  color: violet;
}

#sign:active {
  color: pink;
}
#iframe{border:none;}